body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.timer-container {
    text-align: center;
}

#timer {
    font-size: 2em;
    margin-bottom: 10px;
}
/* Add this style to your existing CSS or create a new style.css file */

#rangeButton {
    font-size: 4em; /* Adjust the font size to make the button larger */
}

